body {
  background-color: #EEF0F4;
  font-family: "proxima-soft", sans-serif;
  margin: 0;
  padding: 0;
}

header a {
  color: inherit;
  font-weight: 100;
  text-decoration: none;
}

.selected {
  border-bottom: 4px solid white;
  color: white;
  font-size: 18px;
  padding-bottom: 9px !important;
}

.primaryNavBg{
  background-color: #31383E; 
  position: fixed;
  width: 100%;
  z-index: 99;
}

.secondaryNavBg{
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  height: 48px;
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 98;
}

.ui-container{
  display: flex;
  flex-flow: row wrap;
  line-height: 1;
  margin: 0 auto;
  max-width: 83.33333%;
}

.primaryNav {
  align-items: center;
  color: #8E98A7; 
  display: grid;
  font-family: "Doppio One", sans-serif;
  grid-template-areas: "logo links user";
  grid-template-columns: min-content auto min-content;
  height: 48px;
}

.primaryNav a {
  padding: 0.7rem 1rem;
}

.logo{
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  grid-area: logo;
  justify-content: center;
  width: 60px;
}

.links{
  grid-area: links;
}

.user{
  display: grid;
  grid-area: user;
  grid-template-areas: "helper market picture";
  grid-template-columns: min-content auto min-content;
}

.help{
  grid-area: helper;
}

.market{
  align-items: center;
  border: 1px solid #8E98A7;
  border-radius: 30px;
  display: flex;
  grid-area: market;
  font-size: 14px;
  line-height: 14px;
}

.picture{
  grid-area: picture;
}

.secondaryNav{
  display: flex;
  justify-content: end;
}

.secondaryNav img{
  padding: 0 12px 0 20px;
}

.companyContainer{
  align-items: center;
  border-left: 1px solid #E9EDF2;
  display: flex;
  font-weight: 600;
  height: 48px;
  color: #5A626D;
}

.companyContainer:hover{
  color: #3FACEE;
}

.corpse {
  position: fixed;
  top: 96px;
  z-index:97;
}


.grid-container {
  display: grid;
  grid-template-columns: 65% 40%;
  min-height: 100%;
  column-gap: 10px;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



.grid-item h2 {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #31383E;
  text-align: start;
  margin-right: 100px;
}

.grid-container2 {
  align-items: center;
  display: grid;
  padding-left: 50px;
  grid-template-columns: 60px 40%;

}

.grid-item2 {
  font-size: 30px;
  text-align: center;
}

.photo {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%
}

.name {
  margin-top: 50px;
  margin-left: -30px;
  font-family: 'Doppio One';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #31383E;
}

.category {
  margin-left: -30px;
  margin-top: 5px;
  font-family: 'Doppio One';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E98A7;
}

.your-subtitle {
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 16px;
  text-align: start;
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */


  color: #8E98A7;
}


.your-publication {
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: start;
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #31383E;
}

.your-button {
  border: none;
  background: #0A9AEB;
  border-radius: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 42px;
  margin-top: 40px;
  margin-left: 70%;


}

.grid-item3 {
  background: #FFFFFF;
  padding-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

hr {
  margin-top: 50px;
  width: 935px;
  border: 1px solid #e6e4e4;
}


.grid-item4 {
  margin-top: 40px;
  background: #FFFFFF;
  padding-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.publication {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 24px;
  color: #8E98A7;
}

.grid-item5 {
  font-size: 30px;
  text-align: start;
  margin-top: 40px;
}

.grid-container5 {
  align-items: center;
  display: grid;
  grid-template-columns: 50px 95%;
  padding: 0 24px;

}

.icon {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%
}