body {
  background-color: #EEF0F4;
  font-family: "proxima-soft", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Doppio One", sans-serif;
}

header a {
  color: inherit;
  font-weight: 100;
  padding: 0.7rem 1rem;
  text-decoration: none;
}

.selected {
  border-bottom: 4px solid white;
  color: white;
  font-size: 18px;
  padding-bottom: 9px;
}

.primaryNavBg{
  background-color: #31383E; 
  position: fixed;
  width: 100%;
  z-index: 99;
}

.secondaryNavBg{
  background-color: #ffffff;
  height: 48px;
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 98;
}

.ui-container{
  display: flex;
  flex-flow: row wrap;
  line-height: 1;
  margin: 0 auto;
  max-width: 83.33333%;
}

.primaryNav {
  align-items: center;
  color: #8E98A7; 
  display: grid;
  grid-template-areas: "logo links user";
  grid-template-columns: min-content auto min-content;
  height: 48px;
}

.logo{
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  grid-area: logo;
  justify-content: center;
  width: 60px;
}

.links{
  grid-area: links;
}

.user{
  display: grid;
  grid-area: user;
  grid-template-areas: "helper market picture";
  grid-template-columns: min-content auto min-content;
}

.help{
  grid-area: helper;
}

.market{
  align-items: center;
  border: 1px solid #8E98A7;
  border-radius: 30px;
  display: flex;
  grid-area: market;
  font-size: 14px;
  line-height: 14px;
}

.picture{
  grid-area: picture;
}


.corpse {
  position: fixed;
  top: 96px;
  z-index:97;
}